<?xml version="1.0"?>
<!--
Author: Pradheep Padmanabhan
Contributor: Adarsh Karan K P
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_500">

  <!-- Import wheel macros -->
  <xacro:include filename="$(find neo_mpo_500-2)/robot_model/xacros/mpo_500_omni_wheel_macro.xacro"/>

  <xacro:macro name="mpo_500_body">
      
    <link name="base_link"/>
    
    <link name="base_footprint">
        <inertial>
        <mass value="64"/>
        <origin xyz="0 0 0"/>
        <inertia 
          ixx="2.8" 
          ixy="0.0" 
          ixz="0.0" 
          iyy="2.8" 
          iyz="0.0" 
          izz="2.8"
          />
        </inertial>
        <visual>
          <origin rpy="-1.571 0 1.571" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://neo_mpo_500-2/robot_model/meshes/MPO-500-BODY-${model}.dae" scale="0.001 0.001 0.001"/>
          </geometry>
        </visual>
        <collision>
          <origin rpy="-1.571 0 1.571" xyz="0 0 0"/>
          <geometry>
            <mesh filename="package://neo_mpo_500-2/robot_model/meshes/MPO-500-BODY-${model}.dae" scale="0.001 0.001 0.001"/>
          </geometry>
        </collision>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <axis xyz="0 0 -1"/>
      <parent link="base_link"/>
      <child link="base_footprint"/>
    </joint>

    <!-- Omni Wheels-->
    <xacro:mpo_500_omni_wheel 
      wheel_prefix="wheel_front_left"
      parent_link="base_footprint" 
      wheel_joint_type="${meca_joint_type}"
      >
      <origin rpy="0 0 0" xyz="0.25 0.28 0.13"/>
    </xacro:mpo_500_omni_wheel>

    <xacro:mpo_500_omni_wheel 
      wheel_prefix="wheel_front_right" 
      parent_link="base_footprint" 
      wheel_joint_type="${meca_joint_type}"
      >
      <origin rpy="0 0 3.14" xyz="0.25 -0.28 0.13"/>
    </xacro:mpo_500_omni_wheel>

    <xacro:mpo_500_omni_wheel 
      wheel_prefix="wheel_back_left" 
      parent_link="base_footprint"
      wheel_joint_type="${meca_joint_type}"
      >
      <origin rpy="0 0 0" xyz="-0.25 0.28 0.13"/>
    </xacro:mpo_500_omni_wheel>

    <xacro:mpo_500_omni_wheel
      wheel_prefix="wheel_back_right"
      parent_link="base_footprint" 
      wheel_joint_type="${meca_joint_type}"
      >
      <origin rpy="0 0 3.14" xyz="-0.25 -0.28 0.13"/>
    </xacro:mpo_500_omni_wheel>
    
  </xacro:macro>

</robot>
